# Copy this over to .env before you fill it out!

# Get your Plaid API keys from the dashboard: https://dashboard.plaid.com/account/keys
PLAID_CLIENT_ID=
PLAID_SECRET=

# Use 'sandbox' to test with fake credentials in Plaid's Sandbox environment
# Use 'production' to run with real data
PLAID_ENV=sandbox

# This will represent the number of our logged in user. Useful when you want
# to switch back and forth between users in development.
# Changing this value while running `npm run watch` will restart the server so
# you can simulate logging in as new user. (Just refresh your client, too!)
USER_ID=
