# Copy this over to .env before you fill it out!

# Get your Plaid API keys from the dashboard: https://dashboard.plaid.com/account/keys
PLAID_CLIENT_ID=
PLAID_SECRET=

# Use 'sandbox' to test with fake credentials in Plaid's Sandbox environment
# Use 'production' to run with real data
PLAID_ENV=sandbox

# This will determine where Plaid will initially send its webhooks when you
# first set up link
WEBHOOK_URL=https://www.example.com/server/receive_webhook