# Copy this over to .env before you fill it out!

# Get your Plaid API keys from the dashboard: https://dashboard.plaid.com/account/keys
PLAID_CLIENT_ID=
PLAID_SECRET=

# Use 'sandbox' to test with fake credentials in Plaid's Sandbox environment
# Use 'production' to run with real data
PLAID_ENV=sandbox

# This is used by the express session library to encrypt the session ID. If you
# were to use this feature in production, you would change this to a different 
# randomly-generated string.
SESSION_SECRET=YouShouldChangeThisToARandomStringForBetterSecurity